<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="description" content="A easy to use shopping experience for gift ideas in Trinidad & Tobago">
<meta name="author" content="Karenix">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!--<link rel="manifest" href="/manifest.json">-->
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00b4b6">

<link href="{{ site.url }}/css/tailwind-build.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<title>{{ site.title }}</title>

<style>
  #menu-toggle:checked + #menu {
    display: block;
  }
</style>