<!-- NEW HEADER REPLACEMENT -->

<header class="bg-gray-900 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
  <div class="flex items-center justify-between px-4 py-3 sm:p-0">
    <div>
      <!-- Navigation Start Left Side-->
      <a href="{{ site.url }}"><img class="h-10 sm:p-0" src="/images/karenix-svgomg.svg" alt="Karenix"></a>
      <!-- Navigation End Left Side-->
    </div>
    <div class="sm:hidden">
      <!-- Navigation Start Right Side-->
      <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-white focus:text-white focus:outline-none" onclick="toggleLinks()">
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
          <!-- Burger -->
          <path v-if="!isOpen" fill-rule="evenodd"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
          <!-- X -->
          <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
        </svg>
      </button>
      <!-- Navigation End Right Side-->
    </div>
  </div>

  <div v-bind:class="[isOpen ? 'block' : 'hidden']" class="px-2 pt-2 pb-4 sm:flex">
    <a href="{{ site.url }}/shop" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Shop</a>
    <a href="{{ site.url }}/about" class="block mt-1 px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">About</a>
    <a href="{{ site.url }}/shipping" class="block mt-1 px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Deliveries</a>
    <a href="{{ site.url }}/contact" class="block mt-1 px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Contact</a>
    <a href="#" class="block mt-1 px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2 snipcart-checkout">Cart
      <span class="snipcart-total-price">$0.00</span>
      (<span class="snipcart-items-count">0</span>)
    </a>
  </div>

</header>